.global-panel {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

    background-color: #000;
    opacity: 0.8;
}

.global-panel .panel span {
    padding: 0 4px;
    color: #f90;
    font-size: 18px;
    line-height: 40px;
}

.global-panel .panel span.on {
    color: #f60;
    border-color: #f60;
}

.global-panel .panel span.boxalign-center {
    padding: 0;
    margin: 0 4px;
    border: 1px solid #f90;
}

.global-panel .fontcolorpanel {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.global-panel .fontcolorpanel .font-size span {
    padding: 0 4px;
    font-size: 12px;
    line-height: 14px;
    word-wrap: break-word;
}


.global-panel .slidenewpanel {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    background-color: #000;
    color: #fff;
}




