.image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image .add {
    text-shadow: #000 0px 0px 1px;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    color: #fff;
}

.image img {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
}

