.control-panel {
    position: absolute;
    height: 20px;
    right: 0px;
    top: -25px;
    font-size: 16px;
    line-height: 20px;
}

.control-panel span {
    float: right;
    padding: 0 3px;
    color: #0f0;
}

.resize-handle {
    position: absolute;
    right: -7px;
    bottom: -7px;
    font-size: 12px;
    line-height: 12px;
    color: #0f0;
}

.control-panel span,
.resize-handle {
    text-shadow: #000 0px 0px 1px;
}

.control-panel span.on,
.resize-handle.on {
    color: #0b0; 
}
